@import './base.css';

#app {
  font-family: 'Montserrat', 'Open Sans', Verdana, lucida, sans-serif;
  background-color: #f6f6f6;
  min-height: 100vh;
  font-weight: normal;
  padding-bottom: 85px;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}


@media (min-width: 1024px) {
  #app {
    min-height: 100vh;
  }
}

label {
  font-weight: bold;
}
button.tertiary {
  background-color: #c3c3c3;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
button.primary {
  background-color: #eb5440;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

button.secondary {
  background-color: #4a4b4c;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
