@import './base.css';

#app {
  font-family: 'Montserrat', 'Open Sans', Verdana, lucida, sans-serif;
  background-color: rgb(231, 231, 231);

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    min-height: 100vh;
  }
}

label {
  font-weight: bold;
}

button.primary {
  background-color: #eb5440;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}


button.secondary {
  background-color: #4A4B4C;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}


button.tertiary {
  background-color: #C3C3C3;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}


